<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add document</title>
</head>
<body>
    <h1>Add document</h1>
    <form action="#" th:action="@{/addDocument}" th:object="${document}" method="post">
        <p>Name:<input type="text" th:field="*{name}" name="name"/></p>
        <p>Description:</p><textarea name="description" th:field="*{description}" rows="5" cols="30"></textarea><br>
        <p> Is a bestseller <input type="checkbox" th:field="*{isBestseller}" name="isBestseller"><br></p>
        <p> Is reference material <input type="checkbox" th:field="*{isReference}" name="isReference"><br></p>
        <p> Number of copies: <input type="number" th:field="*{copies}" name="copies"><br></p>
        <p> Price: <input type="number" th:field="*{price}" name="price"><br></p>
        <p>Type:
        <select name="type" th:field="*{type}">
            <option th:each="t : ${document.TYPE}"
                    th:value="${t}"
                    th:utext="${t}">Type</option>
        </select>
        </p>
        <p>Leave empty if not stated:<br></p>
        <p>Authors:<input type="text" th:field="*{authors}" name="name"/></p>
        <p>Editor:<input type="text" th:field="*{editor}" name="name"/></p>
        <p>Publisher:<input type="text" th:field="*{publisher}" name="name"/></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <p><a href="http://localhost:8080/">To the main page</a></p>
</body>
</html>