<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        background: #f2f2f2 fixed;
        background-size: cover;
    }
    .log{
        font-size: 60px;
        font-family: Arial;
        color : #5A91C2;
    }
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Shelfish</title>
</head>
<body>
    <h1 class="log">Kak dilishke</h1>
    <a href="http://localhost:8080/addDocument">Add document</a>
    <a href="http://localhost:8080/signUp">Add user</a>
    <a href="http://localhost:8080/searchById"> Search by id</a>
</body>
</html>